h2{
    font-size: 32px; 
    text-align: center;
}

h3,h2{
    background-color:#F0F0F0;
    color :#a4a400;
    
    font-family: Helvetica;
}
h3{
     
    text-align: left;
}
.one{
    background-color:#FFFFA8;
    font-style: italic;
}

body{
    background-color:white;
    background-image: url("silverware.jpg");
}
.seven{
    text-align: right;
}
.nine{
    float: right;
}

a:link {
    color: #a4a400;
  }

