h2{
    font-size: 32px; 
    text-align: center;
}

h3,h2{
    background-color:#F0F0F0;
    color :rgb(177, 177, 87);
    font-family: Helvetica;
}
.one{
    background-color:rgb(194, 194, 111);
}

body{
    background-color:white;
    background-image: url("silverware.jpg");
}
.seven{
    text-align: right;
}
.nine{
    float: right;
}
