div.row {
    display: grid;
    grid-template-columns: auto auto;
    flex-wrap: wrap;
    height: 300px;
}

div.row > div.column {
    padding: 0.5em 0.5em;
}

#column1 {
    background-color: dimgray;
}

#column2 {
    background-color: gray;
    grid-column: auto / span 2;
    order: 1;
}

#column3 {
    background-color: darkgrey;
}

@media only screen and (min-width: 600px) {
    div.row {
        grid-template-columns: 25% 25% 25% 25%;
    }

    #column2 {
        order: 0;
    }
}
