h1,h4{
    color: blue;
}
h1{
    background-color:green;
}
body {
    background-color: grey;
    }
    .one{
        color:yellow;
        font-family: Verdana;
    }
    .two{
        color:white;
        
    }
    .three{
        color:red;
    }
