

<!DOCTYPE html>

<html lang="en">



<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>W4D1 - q2</title>

    <link rel="stylesheet" href=<%= cssFile %>>

</head>

<body>

    <form action="/result" method="post">

        <label for="name">Name</label>

        <input id="name" name="name" type="text">

        <label for="age">Age</label>

        <input id="age" name="age" type="number">

        <button type="submit">Submit</button>

    </form>

</body>

</html>
