.navbar {
    background-color: #1992e9;
}

.navbar .title {
    color: white;
    font-size: 16pt;
    padding: 0.5em;
    margin-right: 2em;
}

.hello {
    color: white;
    font-size: 16pt;
    margin-right: 1em;
}

.nav-link {
    color: white;
    font-size: 14pt;
    padding: 0.6em;
    margin: 0 1em;
}

.addbar {
    border-left: 1px solid white;
}

#products, #suppliers {
    color: rgba(255, 255, 255, 0.8);
}

.col {
    padding: 1em;
}

.buttons {
    text-align: right;
}

.buttons button {
    margin: 0 1em;
}

.out {
    
        background-color: #e7eaee;
        color: #474f56;
        border: none;
    
}
